<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<script src="/static/js/jquery-1.11.3.js"></script>
	<script src="/static/js/index.js"></script>
</head>
<body>
	<!--  頁面結構劃分-->
	<div id="container">
		<!-- 1. 導航 -->
		<div id="nav">
			<!-- 1.1 右側導航 -->
			<ul class="rightNav">
				<li id="login">
					<a href="/login/">[登入]</a>
					<a href="/register/">[註冊,有驚喜]</a>
				</li>
				<li>
					<b></b>
					<a href="#">果園公告</a>
				</li>
				<li>
					<b></b>
					<a href="#">券卡兌換</a>
				</li>
				<li>
					<b></b>
					<a href="#">手機果園</a>
				</li>
			</ul>

			<!-- 1.2 左側導航 -->
			<ol class="leftNav">
				<li class="address">
					<span class="currentAddress">上海</span>
					<!-- 三角標 -->
					<u></u>
					<ul class="select">
						<li>北京</li>
						<li>廣州</li>
						<li>深圳</li>
						<li>上海</li>
					</ul>
				</li>
				<li>滿百包郵 (含郊區)</li>	
				<li>星夜達</li>
			</ol>
		</div>

		<div id="cart" style="text-align:right;font-size:16px;margin:15px 0;">
			<a href="/cart/">我的購物車(0)</a>
		</div>

		<!-- 2. 橫幅 -->
		<div id="banner">
			<!-- 圖片輪播 -->
			<div class="wrapper">
				<img src="/static/images/banner1.jpg">
				<img src="/static/images/banner2.jpg">
				<img src="/static/images/banner3.jpg">
			</div>
			<ul class="imgNav">
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
			</ul>
		</div>

		<!-- 3. 今日推薦 -->
		<div id="adv">
			<a href="#"><img src="/static/images/2ba20598135dbba5e97d241ebfa167d9.jpg"></a>
			<a href="#"><img src="/static/images/2ba20598135dbba5e97d241ebfa167d9.jpg"></a>
			<a href="#"><img src="/static/images/2ba20598135dbba5e97d241ebfa167d9.jpg"></a>
			<a href="#"><img src="/static/images/2ba20598135dbba5e97d241ebfa167d9.jpg" class="lastImg"></a>
		</div>

		<!-- 4. 主體信息 -->
		<div id="main">
			<!-- 生活卡券 -->
			<div class="item">
				<!-- 上方  禮品卡券部份 -->
				<p class="goodsClass">
					<img src="/static/images/t4.png">
					<a href="#">更多</a>
				</p>
				<!-- 下方  商品信息展示 -->
				<ul>
					<li>
						<p>
							<img src="/static/images/1-270x270-419-TPSKW6SP.jpg">
						</p>
						<div class="content">
							<a href="#">
								<img src="/static/images/cart.png">
							</a>
							<p>歡樂時光果籃</p>
							<span>
								&yen;188.00/份
							</span>
						</div>	
					</li>
					<li>
						<p>
							<img src="/static/images/1-270x270-419-TPSKW6SP.jpg">
						</p>
						<div class="content">
							<a href="#">
								<img src="/static/images/cart.png">
							</a>
							<p>歡樂時光果籃</p>
							<span>
								&yen;188.00/份
							</span>
						</div>	
					</li>
					<li>
						<p>
							<img src="/static/images/1-270x270-419-TPSKW6SP.jpg">
						</p>
						<div class="content">
							<a href="#">
								<img src="/static/images/cart.png">
							</a>
							<p>歡樂時光果籃</p>
							<span>
								&yen;188.00/份
							</span>
						</div>	
					</li>
					<li>
						<p>
							<img src="/static/images/1-270x270-419-TPSKW6SP.jpg">
						</p>
						<div class="content">
							<a href="#">
								<img src="/static/images/cart.png">
							</a>
							<p>歡樂時光果籃</p>
							<span>
								&yen;188.00/份
							</span>
						</div>	
					</li>
					<li class="no-margin">
						<P>
							<img src="/static/images/1-270x270-419-TPSKW6SP.jpg">
						</P>
						<div class="content">
							<a href="#">
								<img src="/static/images/cart.png">
							</a>
							<p>歡樂時光果籃</p>
							<span>
								&yen;188.00/份
							</span>
						</div>	
					</li>
					<li>
						<p>
							<img src="/static/images/1-270x270-419-TPSKW6SP.jpg">
						</p>
						<div class="content">
							<a href="#">
								<img src="/static/images/cart.png">
							</a>
							<p>歡樂時光果籃</p>
							<span>
								&yen;188.00/份
							</span>
						</div>	
					</li>
					<li>
						<p>
							<img src="/static/images/1-270x270-419-TPSKW6SP.jpg">
						</p>
						<div class="content">
							<a href="#">
								<img src="/static/images/cart.png">
							</a>
							<p>歡樂時光果籃</p>
							<span>
								&yen;188.00/份
							</span>
						</div>	
					</li>
					<li>
						<p>
							<img src="/static/images/1-270x270-419-TPSKW6SP.jpg">
						</p>
						<div class="content">
							<a href="#">
								<img src="/static/images/cart.png">
							</a>
							<p>歡樂時光果籃</p>
							<span>
								&yen;188.00/份
							</span>
						</div>	
					</li>
					<li>
						<p>
							<img src="/static/images/1-270x270-419-TPSKW6SP.jpg">
						</p>
						<div class="content">
							<a href="#">
								<img src="/static/images/cart.png">
							</a>
							<p>歡樂時光果籃</p>
							<span>
								&yen;188.00/份
							</span>
						</div>	
					</li>
					<li class="no-margin">
						<P>
							<img src="/static/images/1-270x270-419-TPSKW6SP.jpg">
						</P>
						<div class="content">
							<a href="#">
								<img src="/static/images/cart.png">
							</a>
							<p>歡樂時光果籃</p>
							<span>
								&yen;188.00/份
							</span>
						</div>	
					</li>
				</ul>
			</div>
			<!-- 可避免底部footer跑上來，因主體信息可能隨時更新，故設置主體元素浮動不把高度寫死 -->
			<!-- <div style="clear:both;"></div> -->
		</div>

		<!-- 5. 底部信息 
		主體信息模塊高度為零(子元素全部浮動)，影響底部模塊布局，需要清除浮動
		1.由於主體信息可以動態加載，不能固定高度
		2.也可以給父元素設置overflow : hidden;
		3.也可以設置清除浮動：為父元素末尾添加空的塊級標籤，
		   設置clear:both;
		-->
		<div id="footer"></div>
	</div>
</body>
<!-- <script type="text/javascript">
	$('#d2').click(function(){
		$('#d1').text($('#d2').text());
	});
	$('#d3').click(function(){
		$('#d1').text($('#d3').text());
	});
	$('#d4').click(function(){
		$('#d1').text($('#d4').text());
	});
</script> -->
</html>